{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Welcome, {{ user_name }}
</h1>

<input type="text" id="buscador" placeholder="Search"> 
<button type="button" id="buscador2" onclick="obtenerDatos()" ><img src="./static/lupa.jpg"></button>

<div class="respuesta d-none" id="resultsContainer">

</div>

<script src="{{ url_for('static', filename='app.js')}}"></script>
{% endblock %}